<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Node Blog - New Post</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Register new User</h1>
                            <span class="subheading">Create a Account!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

  <!-- Navigation-->
       {{> navigation}}

    <div class="container">
        <div class="row">

            <div class="col-md-8 offset-md-2">
               
               {{#if error.length}}
                    <ul class="list-group">
                        {{#each error}}
                        <li class="list-group-item text-danger">{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}

    
                <form action="/user/register" method="POST" enctype="multipart/form-data">
                 <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Username</label>
                            <input type="text" name="username" value="{{data.username}}" class="form-control">
                            
                        </div>
                        
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>email</label>
                            <input type="text" name="email" value="{{data.email}}" class="form-control">
                            
                        </div>
                        
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>password</label>
                            <input type="text" name="password" class="form-control">
                            
                        </div>
                        
                    </div>
                    
                    <div class="form-group my-4 text-center">
                    <button class="btn btn-primary">Register</button>
                    </div>
                </form>
                

            </div>
        </div>

    </div>

 <!-- Footer-->
        {{> footer}}